/*
 * Copyright (c) 2026 Bastien Auneau <bastien.auneau@while-true.fr>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c1 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST_PLUS>; /* 1 MHz */

    vl53l8cx@52 {
        compatible = "st,vl53l8cx";
        reg = <0x52>;
        lpn-gpios = <&gpiob 0 GPIO_ACTIVE_LOW>;
        pwr-gpios = <&gpioa 7 GPIO_ACTIVE_LOW>;
    };
};